<form action="/robots" method = "post">
  <p> Enter a name: </p>
  <input type='text' name='robot[name]'/>

  <p> Enter a city: </p>
  <input type='text' name='robot[city]'/>

  <p> Enter a state: </p>
  <input type='text' name='robot[state]'/>

  <p> Enter a birthdate: </p>
  <input type='text' name='robot[birthdate]'/>

  <p> Enter a date hired: </p>
  <input type='text' name='robot[date_hired]'/>

  <p> Enter a department: </p>
  <input type='text' name='robot[department]'/></br>
  <button type='submit'>Submit</button>
</form>